/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Set text color to white */
    background: linear-gradient(to bottom, #45A29E 5%, #000000 45%); /* Adjust gradient here */
    background-attachment: fixed; /* This ensures the gradient doesn't scroll with the content */
    min-height: 100vh; /* Ensure at least the full height of the viewport */
}

/* Header Styles */
header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.logo {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the font bold */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li:not(:last-child) {
    margin-right: 20px; /* Adjust margin between buttons */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Profile Page Styles */
.profile-details {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.profile-details p {
    margin: 10px 0;
}

/* Update Profile Form Styles */
form {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #45A29E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #000000;
}

form input[type="submit"]:active {
    background-color: #45A29E;
}
