body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Set text color to white */
    background: linear-gradient(to bottom, #45A29E 5%, #000000 45%); /* Adjust gradient here */
    background-attachment: fixed; /* This ensures the gradient doesn't scroll with the content */
    min-height: 100vh; /* Ensure at least the full height of the viewport */
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 80px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #45A29E;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: #45A29E;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000; /* Set background color to white */
    color: #ffffff; /* Set text color to black */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #45A29E; /* YouTube red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000; /* Change hover background color */
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    color: #fff; /* Set text color to white */
}

.signup-link a {
    color: #fff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: #ff0000;
    font-size: 0.9em;
}

.error {
    border-color: #ff0000 !important;
}
