body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(to bottom, #45A29E 5%, #000000 45%);
    background-attachment: fixed;
    min-height: 100vh;
}

.video-container {
    display: flex;
    margin-top: 100px;
}

.main-video {
    margin-top: 20px;
    margin-right: 20px;
}

.thumbnail img {
    width: 300px;
    height: 150px;
}

.other-videos-container {
    position: absolute;
    top: 20px;
    left: 80%; /* Adjust left position */
    z-index: 1000;
}


.other-videos-container .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the cross axis (left) */
}

/*.other-videos-container .video-info h3 {*/
/*    font-size: 20px;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    !*text-overflow: ellipsis;*!*/
/*}*/


.other-videos-container .video-info h3 {
    font-size: 20px; /* Adjust font size */
    white-space: normal; /* Allow text to wrap to a new line */
    max-width: 100%;
    margin-bottom: 10px; /* Adjust the value based on the video width */
}



/* Styles for active state */
.reaction-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.reaction-button.active {
    background-color: #2ecc71;
    color: #fff;
}

/* Subscribe Button Styles */
.subscribe-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.subscribe-button.active {
    background-color: #2ecc71;
    color: #fff;
}



